<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viverselftest.dao.jde.testMapper">



    <!-- addNullOrEmpty -->
    <insert id="addNullOrEmpty" parameterType="java.util.List">
        insert into PA_VIVER_TEST_DEPARTMENT
        (
        partno,
        partname,
        userno
        )
        <foreach collection="list" item="item" index="index" separator="union" open="(" close=")">
            (
            select
            #{item.partno},
            #{item.partname},
            #{item.userno}
            from dual
            )
        </foreach>
    </insert>

</mapper>